<html>

<head>
  <title>Une nouvelle journée !</title>
</head>

<body>
  <h2>Bonjour {{prenom}}, c'est la maison !</h2>
  <p>
    Aujourd'hui nous sommes le <b>{{full_date}}</b>, c'est <b>{{saints}}</b>.
  </p>
  <p>
    Le soleil se léve à {{sunrise}} et va se coucher à {{sunset}}, soit environ {{daylength}} heures de lumière.
  </p>
  <p>
    Pour la météo d'aujourd'hui, il fait <b>{{temperature}}°C</b> dehors, avec un vent d'environ {{wind}} km/h orienté
    {{wind_orient}}. Dans la journée ce sera <b>{{temp_look}}</b>, avec au maximum {{temp_max}}°C en journée.
  </p>
  <p>
    Dans les jours qui viennent, le baromètre prévois <b>"{{forecast}}"</b>, {{forecast_mood}}
  </p>
  <p>
    Allez, je te souhaites une excellente journée ! <br />
    Tu es une personne merveilleuse.
  </p>
  <p style="text-align:right">
    <i><b>Ta maison qui t'aime.</b></i>
  </p>
</body>

</html>